
::ng-deep .panelClass {
  overflow: hidden !important;
}

::ng-deep .pagenumber .mdc-text-field {
  padding: 0px 5px;
}

@media all and (max-width: 535px) {
  ::ng-deep .hiddenSmallView {
    display: none !important;
  }
}

@media all and (max-width: 770px) {
  ::ng-deep .hiddenMediumView {
    display: none !important;
  }
}
