<div [hidden]="hideElement" style="height:100%" class="qurancontainer">
  <canvas #testcanvas style="display:none"></canvas>
  <div *ngIf="!loaded" style="height:100%">
    <img class="imgcenter"
         src="assets/digitalkhatt-logo.svg"
         alt="Quran">
    <div style="margin: 0 auto;display: block;text-align:center;margin-top:10px;">
      <strong>{{wasmStatus}}</strong>
      <br />
      <span *ngIf="loading"><strong>Please wait, this might take a few minutes.</strong></span>

    </div>
  </div>
  <mat-toolbar *ngIf="loaded">
    <div class="leftnav">
      <button mat-icon-button class="hamburger" (click)="sidenav.toggle()" title="Surahs menu">
        <mat-icon class="menicon" svgIcon="menu"></mat-icon>
      </button>
    </div>
    <div class="centernav">
      <div style="color:black;display: flex;flex-direction: row;align-items: center;">
        <div style="box-sizing:border-box;display: flex;flex-direction: row;align-items: center;margin-right:10px;"
             class="hiddenSmallView hiddenMediumView">
          <button type="button" [disabled]="currentPageNumber === 1" (click)="navigateTo('first')" mat-mini-fab style="margin-right:8px" class="small-icon-button"><mat-icon>first_page</mat-icon></button>
          <button type="button" [disabled]="currentPageNumber === 1" (click)="navigateTo('prev')" mat-mini-fab style="margin-right:8px" class="small-icon-button"><mat-icon>chevron_left</mat-icon></button>
          <button type="button" [disabled]="currentPageNumber === totalPages" (click)="navigateTo('next')" mat-mini-fab style="margin-right: 8px" class="small-icon-button"><mat-icon>chevron_right</mat-icon></button>
          <button type="button" [disabled]="currentPageNumber === totalPages" (click)="navigateTo('last')" mat-mini-fab class="small-icon-button"><mat-icon>last_page</mat-icon></button>
        </div>
        <mat-form-field style="width:70px;font-size:small;margin-right:10px;" subscriptSizing="dynamic" class="pagenumber">
          <input matInput [formControl]="form.controls['currentPageNumber']" (blur)="updatePageNumber($event)" (keydown.enter)="updatePageNumber($event)" style="color:black">
          <span matSuffix style="padding-right:5px;">/ {{totalPages}}</span>
        </mat-form-field>
      </div>
      <form [formGroup]="form" style="color:black;display: flex;flex-direction: row;align-items: center;">
        <button class="small-icon-button" mat-mini-fab (click)="zoomOut()" style="margin-right: 8px">
          <mat-icon>remove</mat-icon>
        </button>
        <button class="small-icon-button" mat-mini-fab (click)="zoomIn()" style="margin-right:20px;">
          <mat-icon>add</mat-icon>
        </button>

        <mat-select disableOptionCentering panelClass="mypanelclass" [formControl]="zoomCtrl" style="font-size: small; width: 130px;margin-right:20px; ">
          <mat-option style="display:none;" value="custom">{{(scale * 100) | number:'1.0-0'  }} %</mat-option>
          <mat-option value="page-actual" style="font-size: small;min-height:30px"><span>Actual Size</span></mat-option>
          <mat-option value="page-fit" style="font-size: small;min-height:30px"><span>Page Fit</span></mat-option>
          <mat-option value="page-width" style="font-size: small;min-height:30px"><span>Page Width</span></mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngFor="let zoom of zooms" [value]="zoom.value" style="font-size: small;min-height:30px">
            <span>{{zoom.value * 100}} %</span>
          </mat-option>
        </mat-select>

        <mat-slider class="fontsize" min="0.5" max="1.2" step="0.01"
                    thumbLabel [displayWith]="formatLabel" #ngSlider>
          <input matSliderThumb #ngSliderThumb="matSliderThumb" [formControl]="fontScaleCtrl" name="fontScale" (dragEnd)="fontSizeChanged()"/>
        </mat-slider>
      </form>
    </div>
    <div class="rightnav">
      <form style="color:black;display: flex;flex-direction: row;align-items: center;">

        <button mat-icon-button [matMenuTriggerFor]="menu" title="Format">
          <mat-icon>text_format</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="panelClass">
          <div mat-menu-item>
            <mat-icon>invert_colors</mat-icon>
            <mat-slide-toggle [formControl]="tajweedColorCtrl">Tajweed Color</mat-slide-toggle>
          </div>
          <div mat-menu-item>
            <mat-icon>auto_fix_high</mat-icon>
            <mat-slide-toggle [formControl]="applyForceCtrl">Optimize marks</mat-slide-toggle>
          </div>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="mushafMenu" title="Switch Mushaf">
          <mat-icon>menu_book</mat-icon>
        </button>
        <mat-menu #mushafMenu="matMenu" class="panelClass">
          <button mat-menu-item type="button" [disabled]="mushafType === MushafLayoutTypeEnum.NewMadinah"
                  (click)="selectMushaf(MushafLayoutTypeEnum.NewMadinah)">
            <mat-icon *ngIf="mushafType === MushafLayoutTypeEnum.NewMadinah">check</mat-icon>
            New Madinah
          </button>
          <button mat-menu-item type="button" [disabled]="mushafType === MushafLayoutTypeEnum.OldMadinah"
                  (click)="selectMushaf(MushafLayoutTypeEnum.OldMadinah)">
            <mat-icon *ngIf="mushafType === MushafLayoutTypeEnum.OldMadinah">check</mat-icon>
            Old Madinah
          </button>
          <button mat-menu-item type="button" [disabled]="mushafType === MushafLayoutTypeEnum.IndoPak15Lines"
                  (click)="selectMushaf(MushafLayoutTypeEnum.IndoPak15Lines)">
            <mat-icon *ngIf="mushafType === MushafLayoutTypeEnum.IndoPak15Lines">check</mat-icon>
            IndoPak (15 lines)
          </button>
        </mat-menu>
        <button *ngIf="!isTouchDevice" mat-icon-button (click)="toggleFullScreen()" title="Fullscreen">
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button mat-icon-button [routerLink]='["/about"]' title="About">
          <mat-icon>info</mat-icon>
        </button>
        <a mat-icon-button href="https://twitter.com/DigitalKhatt" title="Twitter" aria-label="DigitalKhatt on twitter">
          <mat-icon svgIcon="logos:twitter"></mat-icon>
        </a>
        <a mat-icon-button href="https://github.com/DigitalKhatt" title="GitHub" aria-label="DigitalKhatt on github">
          <mat-icon svgIcon="logos:github"></mat-icon>
        </a>

      </form>

    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [class.has-floating-toc]="hasFloatingToc"
                         role="main" style="height:100% !important;background-color:white;">

    <mat-sidenav [ngClass]="{'collapsed': !isSideBySide}" #sidenav class="sidenav" [mode]="mode" [opened]="isOpened" (openedChange)="updateHostClasses()">
      <app-mushaf-sidebar [outline]="outline" (outlineSelected)="setOutline($event)"></app-mushaf-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-page-number-box [loaded]="loaded" [pageNumber]="currentPageNumber"></app-page-number-box>

      <div #viewerContainer id="viewerContainer" cdkScrollable [style.visibility]="loaded ? 'visible' : 'hidden'"
           (touchstart)="onViewerTouchStart($event)" (touchend)="onViewerTouchEnd($event)">
        <div id="viewer" class="pdfViewer">
          <div #page *ngFor="let page of pages; let index = index; trackBy: trackByIndex" class="page" data-loaded="false" [hidden]="index >= totalPages"></div>
        </div>
      </div>

    </mat-sidenav-content>


  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
