<div style="position:relative;">
  <canvas #canvas height="5" width="5"></canvas>
</div>
<div>
  <!-- TODO: The 'invert' property no longer exists -->
  <mat-slider [style.min-width.px]="(min + max) * CSS_UNITS * scale" [style.width.px]="(min + max) * CSS_UNITS * scale" [min]="-min" [max]="max" step="0.1" 
               #ngSlider>
    <input matSliderThumb (input)="linewidthChanged({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})"
           [(ngModel)]="tatweel"  name="tatweel"
           #ngSliderThumb="matSliderThumb" value="0" />

  </mat-slider>
</div>
